.cadastro-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.cadastro-cabecalho__logo {
  width: 15rem;
  margin-bottom: 0.5rem;
}

.spinner.is-animating {
	animation: loading 60s linear infinite;
}

.cadastro-cabecalho__titulo {
  font-family: var(--fonte-familia-logo);
  font-size: var(--fonte-tamanho-logo);
  margin-bottom: 1rem;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 800px) {
  .cadastro-cabecalho__logo {
    width: 20rem;
    margin-bottom: 1rem;
  }

  .cadastro-cabecalho__titulo {
    margin-bottom: 2rem;
  }
}
